<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Order Makan Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">

    <!-- jquery UI -->
    <link href="~/Content/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <!-- App css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Scripts/plugins/sweetalert/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/assets/css/icons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />

    <script src="~/Content/assets/js/modernizr.min.js"></script>
    <!-- CSS Date Picker -->
    <!-- Custom Stylesheet -->
    <link href="~/Content/Scripts/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/Content/Scripts/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color picker plugins css -->
    <link href="~/Content/Scripts/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/Content/Scripts/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Daterange picker plugins css -->
    <link href="~/Content/Scripts/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Content/Scripts/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- CSS Date Picker END -->


    <link href="~/Content/Scripts/plugins/sweetalert/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/Scripts/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <!-- JS -->
    <script src="~/Content/Scripts/plugins/jquery/jquery.min.js"></script>
    <link href="~/Content/Scripts/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <link href="~/Content/Scripts/plugins/toastr/css/toastr.min.css" rel="stylesheet" />

    <link href="~/Content/Scripts/plugins/auto-complete/jquery-ui.min.css" rel="stylesheet" />

    <!-- Custom Stylesheet -->
    <link href="~/Content/Styles/css/style.css" rel="stylesheet" />
    <link href="~/Content/Scripts/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet" />


    @Styles.Render("~/Content/Styles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo">
                    <!-- Text Logo -->
                    @*<a href="index.html" class="logo">
                            <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                            <span class="logo-large"><i class="mdi mdi-radar"></i> Highdmin</span>
                        </a>*@
                    <!-- Image Logo -->
                    <a href="index.html" class="logo">

                        <img src="~/Content/assets/images/logo_sm.png" alt="" height="100" class="logo-small" />
                        <img src="~/Content/assets/images/LogoB7.png" alt="" height="100" class="logo-large" />
                    </a>

                </div>
                <!-- End Logo container-->
                <div class="menu-extras topbar-custom">

                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
                      
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="~/Content/Picture/user.png" alt="user" class="rounded-circle"> <span class="ml-1 pro-user-name" id="UserLoginXd"><i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                        
                            <div class="drop-down dropdown-profile dropdown-menu">
                                <div class="dropdown-content-body my-0" style="align-items:center;justify-content:center;text-align:center;">
                                    <ul>
                                        <li style="cursor:pointer;align-items:center">
                                            <a id="spanLogout"><i class="icon-key"></i> <span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end menu-extras -->

                <div class="clearfix"></div>

            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu ml-auto text-center">

                        <li class="has-submenu">
                            <a href="/Home/Index">Home</a>
                        </li>

                        <li class="has-submenu">
                            <a href="../Form/FormOrder">Create Order</a>
                        </li>

                        <li class="has-submenu">
                            <a href="../Outstanding/OutstandingApv">Outstanding Approval</a>
                        </li>

                        <li class="has-submenu">
                            <a href="#">List</a>
                            <ul class="submenu">

                                <li>
                                    <a href="../List/ListMakanan">List Makanan</a>
                                </li>

                                <li>
                                    <a href="../List/ListRevisi">List Revisi</a>
                                </li>

                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="#">Report</a>
                            <ul class="submenu">
                                <li>
                                    <ul>
                                        <li>
                                            <a href="http://10.101.3.114/Reports/Pages/Report.aspx?ItemPath=%2fIntranet-Reports%2fGA%2fReportMakanGA" target="_blank">Report Makan</a>
                                        </li>

                                        <li>
                                            <a href="http://10.101.3.114/Reports/Pages/Report.aspx?ItemPath=%2fIntranet-Reports%2fGA%2fReportMakanGA2" target="_blank">Report Bulanan</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->

    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                @RenderBody()
            </div>
            <!-- end row -->


        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-9 text-center" style="align-content:center;text-align:center;justify-content:center;color:white">
                    2022 © Intranet Portal <span class="d-none d-sm-inline-block"> - PT Bintang Toedjoe</span>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="ModalTimeOut">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Session Login Habis</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="msgModal"></p>
                </div>

            </div>
        </div>
    </div>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/waves.js"></script>
    <script src="~/Content/assets/js/jquery.slimscroll.js"></script>

    <!-- Table -->
    <script src="~/Content/Scripts/plugins/tables/js/jquery.dataTables.min.js"></script>
    @*  <script src="~/Content/Scripts/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/Scripts/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    *@

    <!-- Jquery Ui js -->
    @*<script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>*@

    <!-- App js -->
    @* <script src="~/Content/assets/js/jquery.core.js"></script>
        <script src="~/Content/assets/js/jquery.app.js"></script>*@

    <!-- Select2 -->
    <script src="~/Content/plugins/select2/js/select2.min.js" defer></script>
    <link href="~/Content/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <!-- Table -->
    <script src="~/Content/Scripts/plugins/tables/js/jquery.dataTables.min.js"></script>
    @*<script src="~/Content/Scripts/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/Scripts/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>*@

    <!-- SweetAlert -->
    <script src="~/Content/Scripts/js/sweetalert2.all.min.js"></script>
    <script src="~/Content/Scripts/plugins/sweetalert/js/sweetalert.min.js"></script>

    @*  @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>

</html>

<script>
    //Initialize
    var IsLogin = '@Session["Username"]';
    var timeInSecondsAfterSessionOut = 10; // change this to change session time out (in seconds).
    var secondTick = 0;
    var testTime = 3000;//@(Session.Timeout) * 60;

    //Check jika user sudah login atau tidak, kalo tidak login muncul swal berisi unverified
    function CheckIsLogin() {

        $('#UserLoginXd').text(IsLogin);
        var url = "../Login/Index";
       @* event.preventDefault();*@

        if (IsLogin === '' || IsLogin === null) {

            swal({
                title: "Unverified!",
                text: "Session login berakhir, silahkan login kembali!",
                type: "error",
                showConfirmButton: !1
            });
            setTimeout(function () {
                $(location).attr('href', url);
            }, 1000);
        }
    }

    //Memanggil function logout pada controller untuk membuat username menjadi kosong ('')
    function logout() {
        $.ajax('/Login/Logout');
    }

    // Set Time Out when cursor idle and no click
    $(function () {
        $("body").on('click keypress', function () {
            $('#ModalTimeOut').modal('hide');
            ResetThisSession();
        });

        $("body").mousemove(function () {
            $('#ModalTimeOut').modal('hide');
            ResetThisSession();
        });
    });


    function ResetThisSession() {
            secondTick = 0;
        }

    //Function untuk start session timer
    function StartThisSessionTimer() {
        var IsLogin = '@Session["Username"]';
        var url = "../Login/Index";
        secondTick++;

        //var timeLeft = ((timeInSecondsAfterSessionOut - secondTick) / 60).toFixed(0); // in minutes
        var timeLeft = testTime - secondTick;

        if (secondTick >= (testTime - 10) && timeLeft > 0) {
            var msg = "Session Login anda akan berakhir dalam " +
                timeLeft + " detik! ";

            var msg2 = " Silahkan gerakan mouse anda / akan diarahkan ke halaman login !";
            $('#msgModal').html(msg + '<br>' + msg2);
            $('#ModalTimeOut').modal('show');
        }

        if (secondTick > testTime) {

            clearTimeout(tick);
            logout();
            swal({
                title: "Session Time Out!",
                text: "Session Time Out! ",
                type: "error",
                showConfirmButton: !1
            });
            setTimeout(function () {
                $(location).attr('href', url);
            }, 1000);

            @*window.location = "../Login/Index";
            return;*@
        }
        tick = setTimeout("StartThisSessionTimer()", 1500);
    }

    $(document).ready(function () {
        CheckIsLogin();
        StartThisSessionTimer();

        //Klik button log out 
        $('#spanLogout').click(function () {
            logout();

            var url = "../Login/Index";
            event.preventDefault();
            swal({
                title: "Logout!",
                text: "Anda sudah berhasil Logout ",
                type: "success",
                showConfirmButton: !1
            });
            setTimeout(function () {
                $(location).attr('href', url);
            }, 1500);
        });
    });

</script>